{% extends "base.html"  %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}          
<form method="POST">
    {% csrf_token %}
    <div align="center">
        <div class="form-group">
            <div><label >Пользователь:</label></div>
            <div>{{form.login}}</div>
            <div class="error">{{form.login.errors}}</div>
        </div>
        <div class="form-group">
            <div><label >Пароль:</label></div>
            <div>{{form.password}}</div>
            <div class="error">{{form.password.errors}}</div>
        </div>
        <input type="submit" value="Send">
        <a href="{% url 'signup' %}">Зарегистрироваться<a>
    </div>
</form>
{% endblock %}