{% extends 'base.html' %}

{% block title %}
Просмотр заметки
{% endblock %}

{% block content %}
<div align="right" class="right">
<form action="/notes_list/" method="get">
    <input id="submit" type="submit" class="btn btn-primary" value="Отмена">
</form>
</div>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div align="center" class="div-container">
        <b><h1>{{ note.title }}</h1></b>
        <p>{{ note.body|safe }}</p>
    </div>
</form>
{% endblock %}
