{% extends "base.html" %}
{% block title %}
Восстановление доступа
{% endblock %}
{% block content %}
<div class="div-center">
        <form method="post">
            {% csrf_token %}
            <div align="center">
                <div class="form-group">
                    <label><b>Введите электронный адрес, указанный при регистрации:</b></label>
                    <div>{{form.email}}</div>
                    <div class="error" style="color: red">{{form.email.errors}}</div>
                    <small style="display: none">{{ form.email.help_text }}</small>
                </div>
                <input id="submit" type="submit" class="btn btn-primary" value="Далее">
            </div>
            {% if invalid %}
            <div align="center">
                <span align = "center" style="color: red">Неверный адрес!</span>
            </div>
            {% endif %}
        </form>
</div>
{% endblock %}